.admin_multi_select{
	height : 300px !important;
	margin-bottom : 10px ;
}

.alert-message {
    background-color: #d7ffff;
    border-color: #00ffff;
    color: #351fb6;
}

.panel-reminder {
    border-color: #f7b3ec;
}

.panel-reminder > .panel-heading {
    color: #7d354f;
    background-color: #fcd6f5;
    border-color: #f7b3ec;
}

.btn-taskview {
    color: #FFF;
    background-color: #d636d6;
    border-color: #b32fb3;
}

.btn-taskview:hover{
	color: #800080;
}

    /*
	 *  Usage:
	 *
	 *    <div class="sk-spinner sk-spinner-rotating-plane"></div>
	 *
	 */
.sk-spinner-rotating-plane.sk-spinner {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  margin: 0 auto;
	position: absolute;
    top: 50%;
    left: 50%;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out;
	z-index : 3 ; 
}

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); 
	} 
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fc030a;
    opacity: 0.9;
    filter: alpha(opacity=90);
	z-index : 10001; 
}