nbproject
._*
.~lock.*
.buildpath
.idea
.project
.settings
composer.lock
vendor/bin

.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

